{% extends "base.html" %}
{% block content %}

<main class="container-fluid">
    <div class="row">
        <div class="col">
           
        </div>
    </div>
</main>

<button class="sign_in">sign in</button>
<input type="text">
<button><i class="fa-solid fa-magnifying-glass"></i></button>
<button><i class="fa-solid fa-house"></i></button>
<button><i class="fa-solid fa-circle-ellipsis-vertical"></i></button>
<button><i class="fa-solid fa-cart-shopping"></i></button>
<h1>p</h1>
<h4>rojectstore</h4>
<h3>Games</h3>
<h3>Web design</h3>
<h3>Artificial intelligence</h3>
<h3>Embedded systems development</h3>
<h4 id="home">Home</h4>
<h4>Add to cart</h4>
<h4>More</h4>



{% endblock %}